# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wordpress/wp-admin/
/wordpress/wp-content/index.php
/wordpress/wp-content/languages
/wordpress/wp-content/plugins/index.php
/wordpress/wp-content/themes/index.php
/wordpress/wp-includes/
/wordpress/index.php
/wordpress/license.txt
/wordpress/readme.html
/wordpress/wp-*.php
/wordpress/xmlrpc.php

# Configuration
/wordpress/wp-config.php

# Example themes
/wordpress/wp-content/themes/twenty*/

# Example plugin
/wordpress/wp-content/plugins/hello.php

# Uploads
/wordpress/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wordpress/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
/wordpress/wp-content/themes

# Environment
.env

# VS Code
*.code-workspace
.vscode/
